:root {
  --white: #fff;
  --accent-filter: #f7f7fb;
  --modal-img-bg: #f3f3f2;

  --accent-filter-text: #8a8a89;
  --filter-dropdown-text: rgba(18, 20, 23, 0.2);

  --descr-text: #121417;
  --accent-descr-text: rgba(18, 20, 23, 0.5);
  --accent-text-split: rgba(18, 20, 23, 0.1);
  --button: #3470ff;
  --button-active: #0b44cd;

  --modal-accent-bg: #f9f9f9;
  --modal-accent-text: #363535;

  --image-card: linear-gradient(
      180deg,
      rgba(18, 20, 23, 0.5) 2.5%,
      rgba(18, 20, 23, 0) 41.07%
    ),
    lightgray 50%;
}
